<p style="color: green"><%= notice %></p>

<h1>Friends List</h1>

<div id="friends">
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <% @friends.each do |friend| %>
      <tr id="<%= dom_id friend %>">
        <%= render friend %>
        <td> <%= link_to "Show", friend %> </td>
        <!-- <td> <%= link_to "Edit", friend %> </td> -->
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New friend", new_friend_path %>
